<h1>活動列表</h1>

<%= link_to "新增活動", new_event_path, class:"btn btn-danger btn-xs" %>

<table class="table">
  <thead>
    <tr>
      <td>活動名稱</td>
      <td>開始時間</td>
      <td>結束時間</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td> <%= link_to event.name, event_attendees_path(event.id) %></td>
      <td> <%= event.start_at %></td>
      <td> <%= event.end_at %></td>
      <td>
        <%= link_to "編輯", edit_event_path(event) %>
        <%= link_to "刪除", event_path(event), method: "delete", data: { confirm: "確認刪除" } %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>